<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/index.js" defer></script>
</head>
<body>
    
    <div id="contacts">
        <p>Contactos</p>
        <ul id="contact-list"></ul>
        
        <input type="text" placeholder="Añade un usuario" id="new-contact-input">
        <button id="new-contact-button">Añadir Contacto</button>
        <button id="new-group-button">Añadir Grupo</button>
    </div>

    <div id="actions"><p></p></div>

    <ul id="messages-container"></ul>

    <input id="chat-input" autocomplete="off" placeholder="Mensaje"><button id="send-btn">Enviar</button>
</body>
</html>